@use "@angular/material" as mat;
@use "tailwindcss";

@include mat.core();

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$cyan-palette,
      density: 0,
    )
  );

  @include mat.badge-overrides(
    (
      background-color: var(--mat-sys-primary),
      text-color: white,
    )
  );

  .mdc-button,
  .mdc-raised-button,
  .mdc-stroked-button,
  .mdc-flat-button {
    @apply rounded-md;
  }
}

html,
body {
  height: 100%;

  .text-primary {
    color: #7d00fa;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  @apply mx-auto max-w-screen-2xl;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}

.mat-mdc-snack-bar-container.snack-error {
  --mdc-snackbar-container-color: red;
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.snack-success {
  --mdc-snackbar-container-color: green;
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}
